#post, #blog
  .meta
    margin-bottom: 20px
    color: desaturate(lighten($primary-color, 10%), 10%) !important

#post
  a
    padding: 3px 5px 2px
    text-decoration: underline
    +border-radius(7px)
    +transition(color 0.2s ease, background 0.2s ease)
    &:hover
      text-decoration: none
      color: $secondary-color
      background: $primary-color

  img
    max-width: 100%
    height: auto
  .alignleft, .alignright
    margin: 15px auto
    display: block
  .alignleft
    @media #{$large-up}
      float: left
      margin: 0 15px 15px 0
  .alignright
    @media #{$large-up}
      float: right
      margin: 0 0 15px 15px


#blog
  .pagination
    border-top: 8px solid lighten($primary-color, 10%)
    padding-top: 40px
    font-size: 22px
    font-family: $header-font-family

    .current-page, a
      margin: 0 10px

    .current-page
      font-weight: $font-weight-bold
      font-style: italic

    a
      margin: 0 5px
      padding: 4px 10px
      +border-radius(10px)
      +transition(all 0.2s ease)
      &:hover
        color: $secondary-color
        background: $primary-color
