.pagination
  text-align: center
  margin: 1.8em 0 2.2em
  a, span
    display: inline-block
    margin: 0 0.3em

.post
  margin: 0 0 2em

.post-list-item
  margin: 1em 0 1.6em

.post-list-item-excerpt
  margin: 0.5em 0

.post-meta, .post-list-item-meta
  font-size: 0.8em
  font-style: italic
