.work-code, .other-code
  +span-columns(6)

.github-link-container
  text-align: center
  margin: 0.3em 0 2em

.github-link
  display: inline-block
  clear: both
  font-size: 1.4em
  font-weight: $font-weight-bold
