$code-breakpoint: new-breakpoint(max-width 640px 1)

.code-list
  +span-columns(6)

+media($code-breakpoint)
  .code-list
    +span-columns(1)
  .code-list-left
    margin-bottom: 0
  .code-list-right
    margin-top: 0

.code-page-margin-bottom
  clear: both
  margin-bottom: 2em
