$footer-breakpoint: new-breakpoint(max-width 550px 1)

.footer
  position: absolute
  left: 0
  bottom: 0
  height: $footer-height
  width: 100%

  text-align: center
  background-color: $secondary-color-light
  padding: 1.5em
  font-size: 26px
  font-family: $code-font-family
  font-weight: $code-font-weight

  a
    border-width: 0
    margin-left: 0.3em
    &:first-child
      margin-left: 0.1em
  a, a:hover
    color: $font-color-dark

  .email, .social-media-links, .footer-divider, a
    display: inline-block

  +media($footer-breakpoint)
    .footer-divider, .email
      display: none
