.top-nav
  text-align: center

  h1
    font-weight: $font-weight-bold
    font-family: $header-font-family
    font-size: 50px
    font-size: 30px
    margin: 15px 0

  .button
    margin: 20px 6px
    padding-left: 0
    padding-right: 0
    width: 90px
    font-family: $header-font-family
    font-weight: 700
