#home
  text-align: center
  line-height: 30px
  padding-top: 260px
  padding-bottom: 100px
  color: $secondary-color
  background: $primary-color
  min-height: 100%
  font-size: $home-font-size

  .intro
    margin: 0 auto
    max-width: 400px

  span
    font-size: 24px
    font-family: $header-font-family
    font-weight: 400

  span, strong
    font-weight: $font-weight-bold
    text-shadow: 2px 2px 0 darken($primary-color, 10%)

  strong
    font-family: $header-font-family
    font-weight: $font-weight-bold
    font-size: 60px
    display: block
    margin-bottom: 50px

  @media #{$small-only}

    padding-top: 240px
    padding-bottom: 86px

    .intro
      padding: 0 25px

    strong
      display: none
