.home-code-block
  font-family: $code-font-family
  font-size: 50px
  line-height: 60px
  display: inline-block

  .keyword, .operator
    color: $secondary-color

  a
    text-decoration: underline
    &:hover
      color: lighten($primary-color, 10%)

#home
  color: $black
  background: $white

  @media #{$small-only}

    padding-top: 230px
    padding-bottom: 76px
