@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600|Inconsolata)

$body-font-family: 'Open Sans'
$font-weight-normal: 300

$font-weight-bold: 600

$header-font-family: 'Open Sans', 'Helvetica', sans-serif
$header-font-weight: 600

$default-line-height: 1.7

$code-font-family: 'Inconsolata'
$code-font-weight: 400
$code-font-weight-bold: 700
$code-line-height: 1.4

$primary-color: #d81b60
$primary-color-light: lighten($primary-color, 30%)
$primary-color-dark: #ad1457
$secondary-color: #64dd17
$secondary-color-light: #ccff90

$font-color-dark: #000000
$font-color-light: #FFFFFF

$default-font-color: $font-color-dark
$link-color: $primary-color
$link-color-hover: $secondary-color
$selection-color: #f3e5f5

$main-width: 850px
$footer-height: 106px
$home-about-width: 650px

$medium: new-breakpoint(max-width 800px 1)
$home-about-width-small: 500px
