.highlight
  margin: 0.3em 0
  padding: 0.8em
  pre, code
    margin: 0
    +media($medium)
      font-size: 0.9em

pre, code, pre span, code span
  font-family: $code-font-family
  font-weight: $code-font-weight
  line-height: $code-line-height

pre strong, code strong
  font-weight: $code-font-weight-bold

pre
  overflow: auto
