.top-nav
  text-align: right
  position: absolute
  top: 0
  left: 0px
  width: 100%
  padding-right: 20px
  background: $dark-primary-color
  box-shadow: 0 10px 0 $dark-dark-primary-color

  h1
    position: absolute
    left: 30px
    top: 12px
    font-weight: $font-weight-bold
    font-family: $header-font-family
    font-size: 50px
    text-shadow: 2px 2px 0 darken($primary-color, 10%)
    i
      width: 46px
    span
      font-size: 30px
      float: right
      margin: 15px 0 0 15px
    a
      color: $white

  .button
    border-style: solid
    border-width: 0 4px 4px 0
    border-color: $light-primary-color !important
    margin: 20px 6px
    padding-left: 0
    padding-right: 0
    width: 90px
    font-family: $header-font-family
    font-weight: 700
    &:hover
      background-color: lighten($primary-color, 65%)

  @media #{$screen} and (max-width: $top-bar-breakpoint)

    text-align: center
    padding-right: 0

    h1
      left: 50%
      margin-left: -112px
      
    .button
      width: 75px
      padding-top: 8px
      padding-bottom: 8px
      margin-top: 100px
