---
layout: default_layout.njk
title: Art
---

<div id="art" class="main">
  <h1 class="page-title">
    art
  </h1>

  <p>
    When inspiration strikes, I love doing art. My favorite media are acrylics and soft pastel. In 2016, I completed a work of art every single day as part of an ambitious New Year's resolution. In retrospect, that was kind of a mistake because it burned me out, and I haven't done much art since.
  </p>

  <p>
    Here are some of my favorite pieces that I've made during my life.
  </p>

  <div class="art-list">
    {% for artwork in art %}
      <div class="art-list-item">
        <a href="{{ artwork.title | slugify }}" style="background-image:url('{{ artwork.image }}');"></a>
      </div>
    {% endfor %}
  </div>
</div>