---
layout: default_layout.njk
title: Code
---

<div id="code" class="main">
  <h1 class="page-title">code</h1>

  <p>
    I started coding in middle school in order to make my Neopets and Xanga pages pretty. After studying biology as an undergrad at Duke, I got back into coding and started working as a full-time developer in 2014. I've since gotten a masters in computer science at Georgia Tech.
  </p>

  <h3>
    Some technologies I've used:
  </h3>

  <div class="code-lists">
    <ul class="code-list code-list-left">
      <li>AWS</li>
      <li>Javascript, Node, React, Vue</li>
      <li>SASS, CSS, HTML</li>
      <li>Ruby + Ruby on Rails</li>
      <li>Java, Kotlin</li>
    </ul>
    <ul class="code-list code-list-right">
      <li>Python</li>
      <li>SQL</li>
      <li>Elixir</li>
      <li>Clojure</li>
      <li>C</li>
    </ul>
  </div>

  <div class="code-page-margin-bottom"></div>
</div>