---
layout: default_layout.njk
title: Home
---

<div class="home main">
  <div class="home-about">
    <h1 class="home-about-title">
      greetings.
    </h1>
    <p>
      I'm a software developer in Berlin, Germany. I like traveling, hiking, playing guitar, and doing art. I'm married and have no kids.
    </p>
    <div class="home-image-container">
      <div class="anne"></div>
    </div>
    <p class="home-picture-caption">
      This is me petting a random dog in Nepal at 5,550 meters elevation. Mt. Everest is the tall peak in the background.
    </p>
  </div>
</div>
