---
layout: default_layout.njk
---

<div class="main">
  <div class="post">
    <h2 class="post-title">
      {{ title }}
    </h2>

    <h3 class="post-meta">
      {{ date | formatDate }}
    </h3>

    <div class="post-content">
      {{ content | safe }}
    </div>
  </div>
</div>
