<div class="top-nav">
  <a href="/" class="home-link">anne k<span class="title-period">.</span> johnson</a>

  <div class="page-links">
    {
      <a href="/code">code</a>,
      <a href="/art">art</a>,
      <a href="/misc">misc</a>.
    }
  </div>
</div>