<div class="footer">
  <h2 class="get-in-touch">
    Get in touch <i class="fa fa-arrow-right"></i><i class="fa fa-arrow-down"></i>
  </h2>

  <div class="email">
    annecodes {at} gmail.com
  </div>

  <div class="social-media-links">
    <a href="https://www.linkedin.com/in/annekjohnson" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://twitter.com/depaysant" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="https://github.com/annejohnson" target="_blank">
      <i class="fa fa-github"></i>
    </a>
  </div>
</div>
